.about-cards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.about-card {
  background: $color-bg-variant;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: $transition;
}

.about-card:hover {
  background: transparent;
  border-color: $color-primary-variant;
  cursor: default;
}

.about-icon {
  color: $color-primary;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about-card h5 {
  font-size: 0.95rem;
}

.about-card small {
  font-size: 0.7rem;
  color: $color-light;
}

.about-content p {
  margin: 2rem 0 2.6rem;
  color: $color-light;
}

@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about-content p {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .about-cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about-content {
    text-align: center;
  }

  .about-content p {
    margin: 1.5rem 0;
  }
}